@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}


@layer utilities{
    .btn{
        @apply px-4 py-[0.3rem] bg-primary rounded-sm
    }
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }